/**
 * User: manuelmeister
 * Date: 19.07.14
 * Time: 10:21
 */

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(100, 100, 100, 0.54);
}

.boxing {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    z-index: 100;
}

.popup{
    margin: 64px auto 0;
    width: 1024px;
    background-color: #ffffff;
    pointer-events: auto;
}

.popup nav{
    background: #636363;
}

.popup nav ul {
    padding: 0;
    margin: 0;
    position: relative;
}

.popup nav ul li{
    display: inline-block;
    list-style: none;
}

.popup nav ul li a{
    padding: 10px;
    color: #ffffff;
    display: block;
}

.popup nav ul li h1{
    font-size: 28px;
    margin: 0;
}

.popup nav ul li a:hover{
    text-decoration: none;
    cursor: pointer;
}

.popup footer{
    background-color: #DFDFDF;
    padding: 10px;
    color: #767676;
    font-size: 12px;
}

.popup a{
    font-weight: 500;
}

.popup footer p{
    margin-bottom: 0;
    margin-top: 0;
}

.box{
    background-size: cover;
    height: 170px;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.box:hover .box-infos {
    background-color: rgba(162, 102, 188, 0.81);
}

.box-infos{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    color: #000000;
    align-content: flex-start;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.box-infos h2{
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 0px;
    display: inline;
    float: left;
}

.box-infos p{
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 400;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.close-button-li{
    top: 7px;
    position: absolute;
    right: 7px;
}

.close-button{
    width: 38px;
    height: 38px;
    background-color: #444444;
    position:relative;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.close-button:hover{
    cursor: pointer;
    background-color: #222222;
}

.close-button:before,.close-button:after{
    content:'';
    position:absolute;
    width: 26px;
    height: 3px;
    background-color: rgb(230, 228, 228);
    border-radius:2px;
    top: 17px;
    left: 6px;
}

.close-button:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
.close-button:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

#editor,#filedropzone{
    display: none!important;
}

#menu{
    left: -280px;
}

.open-browser{
    width: 42px;
    height: 42px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    display: none;
    cursor: pointer;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;

}

.open-browser:hover{
    background-color: #979797;
}

.contain{
    margin-top: 3px;
    margin-left: 3px;
}

.minirow{
    width: 37px;
    height: 12px;
    margin: 0;
    padding: 0;
    display: flex;
}

.minicol{
    height: 8px;
    width: 8px;
    margin: 2px 0px 0px 3px;
    padding: 0px;
    background-color: #747474;
    display: inline-block;
}

.container {
    padding-bottom: 16px;
    overflow: scroll;
    height: 430px;
}